body{
    background: linear-gradient(45deg,black,grey);
}
.card{
    width: 45%;
    margin: 100px auto;
    box-shadow: 4px 4px 8px white;
   
}
.card-header{
    text-align: center;

}
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   
}
.card-body span{
    margin: 10px;
    display: inline-block;
}
.color-box{
    width: 90%;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 4px;
    background-color: black;
    

}
.button-container{
   display: flex;
   align-items: center;

   gap: 30px;
   padding-left: 20%;
   margin: 10px ;
}
.btn1{
    border-radius: 8px;
    border: 2px solid black;
    background-color: aquamarine;
    font-family: sans-serif;
    padding: 10px;
    
}
.RGB{
    border-radius: 8px;
    border: 2px solid black;
    background-color:blanchedalmond;
    font-family: sans-serif;
    padding: 10px;
    display: inline-block;
   
}
